
<style>
    #main {
        text-align: center;
        margin-top: 300px;
        height: 500px;

    }

    input { padding: 40px; font-size: 26px; }
    body {font-size: 60px;
        font-family: sans-serif;
        background-color: rgba(227, 228, 232, 0.37);


    }
</style>

<form  id="main"  action="/generate/">
    <label for="urlenter">{{message  }}</label> <br><br>
    <input id="urlenter"  type="text" class="" name="url" placeholder="Enter your URL here"
           value="">
    <input type=submit class="btn" value=Go>
</form>